/* carga de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;700&display=swap');
@font-face{
  font-family: 'adelia';
  src:url(../assets/fonts/adelia.ttf);
}

/* reseteo de valores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.colorNav {
  background-color: #c19899;
}