/* reseteo de valores */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,700;1,6..12,200;1,6..12,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8F8181;
  background-image: linear-gradient(to right bottom, #e8a7a8, #d19ea0, #ba9598, #a48d8f, #8d8485);
  background-image: radial-gradient(circle, #f8b8bf, #edb3b9, #e1adb3, #d6a8ad, #cba3a7, #c29fa2, #ba9b9e, #b19799, #a89394, #a08f90, #978b8b, #8f8787);
  background-image: linear-gradient(to bottom, #f8b8bf, #ecadb4, #dfa2a9, #d3989e, #c78d93, #c78d93, #c78d93, #c78d93, #d3989e, #dfa2a9, #ecadb4, #f8b8bf);
  /*   display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto; */
}

/* carga de fuentes */
@font-face {
  font-family: "adelia";
  src: url(../assets/fonts/adelia.ttf);
}
.flexible {
  display: flex;
}

.linkVN {
  text-decoration: none;
  color: black;
}
.linkVN:hover {
  color: black;
}
.linkVN .tituloNav {
  font-family: "adelia";
  font-size: 1.8rem;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  scale: 1;
  transition: 0.5s;
}
.linkVN .tituloNav:hover {
  scale: 1.1;
  transition: 0.5s;
}

.colorNav {
  background-color: #F8B8BF;
}

.disenoLinks {
  font-size: 1.2rem;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 2.5rem;
}
.disenoLinks:hover {
  transition: 0.5s;
  border-radius: 10px;
  background-color: rgb(239, 168, 180);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .linkVN .tituloNav {
    font-size: 1.5rem;
  }
  .linkVN .tituloNav:hover {
    scale: 1;
    transition: 0;
  }
}
.containerBanner {
  background-image: url(../assets/img/banner_large.jpg);
  width: 100%;
  background-size: cover;
  height: 70vh;
  background-position: center;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.containerBanner .tituloBanner1 {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 6rem;
  color: white;
  text-align: center;
}
.containerBanner .textoBanner {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.contenedorParrafoIndex {
  width: 100%;
}
.contenedorParrafoIndex .tituloBody {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 3.5rem;
  padding: 0 50px;
}
.contenedorParrafoIndex .textoBody {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: left;
  padding: 0 50px;
}

.cards {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 35px;
}
.cards img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .containerBanner .tituloBanner1 {
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 3rem;
  }
  .containerBanner .textoBanner {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
  }
  .contenedorParrafoIndex {
    width: 100%;
  }
  .contenedorParrafoIndex .tituloBody {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20px;
  }
  .contenedorParrafoIndex .textoBody {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    padding: 10px 20px;
  }
}
.video {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.contenedorParrafoGaleria {
  width: 100%;
}
.contenedorParrafoGaleria .tituloBody {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 3.5rem;
  padding: 0 50px;
  text-align: center;
}
.contenedorParrafoGaleria .textoBody {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400, bold;
  font-size: 1rem;
  /* line-height: 18px; */
  text-align: center;
  padding: 0 50px;
}

.containerPrincipalGal .containerImgGal {
  width: 300px;
  height: 350px;
  background-color: rgb(235, 180, 182);
  border-radius: 15px;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.containerPrincipalGal .containerImgGal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid white;
  scale: 1;
  transition: 0.5s;
  z-index: 0;
}
.containerPrincipalGal .containerImgGal img:active {
  scale: 1.1;
  transition: 0.5s;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .contenedorParrafoGaleria {
    width: 100%;
  }
  .contenedorParrafoGaleria .tituloBody {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20px;
  }
  .contenedorParrafoGaleria .textoBody {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400, bold;
    font-size: 1rem;
    text-align: center;
    padding: 10px 20px;
  }
  .containerPrincipalGal .containerImgGal img:active {
    scale: 1;
    transition: 0;
  }
}
.main .contenedorQS {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main .contenedorQS .contenedorParrafoNosotros .tituloBody {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 3.5rem;
  padding: 0 10px;
  text-align: left;
}
.main .contenedorQS .contenedorParrafoNosotros .textoBody {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400, bold;
  font-size: 1.3rem;
  text-align: left;
  padding: 0 10px;
}
.main .contenedorQS .imagen {
  padding: 20px 0;
}
.main .contenedorQS .imagen img {
  border-radius: 15px;
}
.main .textoBody {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400, bold;
  font-size: 1.5rem;
  text-align: left;
  padding: 0 10px;
}
.main .textoBody .linkPalabra {
  text-decoration: none;
  color: pink;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .main .contenedorQS {
    margin: 0;
  }
  .main .contenedorQS .contenedorParrafoNosotros {
    width: 100%;
    padding: 0;
  }
  .main .contenedorQS .contenedorParrafoNosotros .tituloBody {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20px;
  }
  .main .contenedorQS .contenedorParrafoNosotros .textoBody {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400, bold;
    font-size: 1rem;
    text-align: left;
    padding: 10px 20px;
  }
  .main .contenedorQS .imagen {
    width: 320px;
    height: 300px;
  }
  .main .contenedorQS .imagen img {
    width: 100%;
    height: 100%;
    padding-left: 0;
  }
  .main .textoBody {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400, bold;
    font-size: 1rem;
    text-align: left;
    padding: 10px 10px;
  }
}
.contenedorContactoMapa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
  background-color: #1f1718;
}
.contenedorContactoMapa .textoContacto {
  width: 300px;
  height: 300px;
}
.contenedorContactoMapa .textoContacto .tituloBody {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 3.5rem;
  color: white;
}
.contenedorContactoMapa .textoContacto .textoBody {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400, bold;
  font-size: 2rem;
  /* line-height: 18px; */
  text-align: left;
}

.contenedorContactoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}
.contenedorContactoForm .textoContacto {
  /*  width: 400px;
   height: 300px;
   margin: 20px; */
}
.contenedorContactoForm .textoContacto .tituloBody {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 3.5rem;
}
.contenedorContactoForm .textoContacto .textoBody {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400, bold;
  font-size: 2rem;
  /* line-height: 18px; */
  text-align: left;
}
.contenedorContactoForm .formulario {
  width: 400px;
  color: 0;
}
.contenedorContactoForm .formulario .botones {
  display: flex;
  justify-content: space-evenly;
}
.contenedorContactoForm .formulario .botones .boton {
  background-color: pink;
  border: 2px solid rgb(201, 150, 158);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .contenedorContactoMapa {
    flex-direction: row-reverse;
    padding: 20px;
  }
  .contenedorContactoMapa .mapa {
    margin-top: 20px;
  }
  .contenedorContactoMapa .mapa iframe {
    width: 300px;
    height: 300px;
  }
  .contenedorContactoForm {
    flex-direction: row-reverse;
    padding: 20px;
  }
  .contenedorContactoForm .formulario {
    height: auto;
    width: 300px;
  }
}
.footer {
  background-color: #F8B8BF;
  padding: 20px 20px;
}
.footer .hijosFooter {
  border-bottom: 2px solid rgb(211, 139, 160);
}
.footer .hijosFooter .tituloFooter {
  font-family: "adelia";
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}
.footer .hijosFooter .iconoRS {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.741);
}
.footer .hijosFooter .iconoRS:hover {
  color: rgba(0, 0, 0, 0.741);
}

@media screen and (max-width: 768px) {
  .footer .hijosFooter .tituloFooter {
    font-size: 1rem;
  }
  .footer .hijosFooter .iconoRS {
    font-size: 2rem;
  }
  .footer .texto {
    text-align: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
