.contenedorContactoMapa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #1f1718;
    .textoContacto{
        width: 300px;
        height: 300px;
        .tituloBody{
            font-family: 'Amatic SC', cursive;
            font-weight:700;
            font-size: 3.5rem;
            color: white;
            }
        .textoBody{
            color: white;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 400, bold;
            font-size: 2rem;
            /* line-height: 18px; */
            text-align:justify;     
        }
    }
    
}
.contenedorContactoForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    .textoContacto{
       /*  width: 400px;
        height: 300px;
        margin: 20px; */
        .tituloBody{
            font-family: 'Amatic SC', cursive;
            font-weight:700;
            font-size: 3.5rem;
            }
        .textoBody{
            color: white;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 400, bold;
            font-size: 2rem;
            /* line-height: 18px; */
            text-align:justify;     
        }
    }
    .formulario{
        width: 400px;
        color: blue($color: #000000);
        .botones{
            display: flex;
            justify-content: space-evenly;
        }
    }
}

@media screen and (max-width:768px){
    .contenedorContactoMapa{
        flex-direction: row-reverse;
        padding: 20px;
        .mapa{
            margin-top: 20px;
            iframe{
                width: 300px;
                height: 300px;
            }
        }
    }
    .contenedorContactoForm{
        flex-direction: row-reverse;
        padding: 20px;
        .formulario{
            height: auto;
            width: 300px;
        }
    }
}