.main{
  .tituloBody{
    font-family: 'Amatic SC', cursive;
    font-weight:700;
    font-size: 3.5rem;
    padding: 0 10px;
    text-align: center;
  }
  .tiposUnias{
    width: 300px;
    height: 400px;
    padding: 20px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }
  .fondoCard{
    background-color: map-get($map-colors, color-footer-header);
    border-radius: 15px;
    margin: 20px;
    .titulosTiposUnias{
      @include estilosTexto(white, 700, 3rem, left);
      font-family:'Amatic SC', cursive;
    } 
    .textoTiposUnias{
      @include estilosTexto(rgb(255, 255, 255), 400, 1rem, left);
      line-height:30px;
    }
  }
    
}

@media screen and (max-width:768px){
.main{
  .tituloBody{
    font-size: 2.5rem;
  }
  .inversion{
    display: flex;
    flex-direction: column-reverse;
  }
}
}