/* reseteo de valores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #8F8181;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }