.flexible{
    display: flex;
}

.tituloPrincipal{
    color: map-get($map-colors,color-titulos);
    font-family: $fuente-principal;
    font-weight:300;
    font-size: 2.5rem;
    padding: 0 50px;
}

.textoImportante{
    color: map-get($map-colors,color-titulos);
    font-family: $fuente-secundaria;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0 10px;
}