$fuente-principal:'Merriweather', serif;
$fuente-secundaria: 'Mulish', sans-serif;
$map-colors: (
    color-header:black,
    color-footer-header:#F8B8BF,
    color-titulos:white,
    color-subtitulos:white,
    color-texto: white,

)